@import "./scss/_config";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@import "~bootstrap/scss/bootstrap";



//$color: #055309 ;
$color: #01200b;
$font-family-sans-serif: "Archivo Black", "Figtree";


/*
#page-container{
  position: relative;
  min-height: 100vh;
}*/



/*
.content-container{
min-height: calc(100% - 24px);
}
*/

.alinearCentro{
 display: flex;
 align-items: center;
}

.themeColors{
  background-color: $color
  }
  
.headerFont{
  font-family: "Figtree";
  font-size: large
  }
  





body{
  margin: 0;
  padding: 0;
  font-family: "Figtree";
  background-color: #ebecf1;
}

ul.siteheader li {
  display: inline;
  list-style-type: none;
  margin: 0;
  
  }

ul.siteheader{
  background-color: $color;
  padding: 0;
  width: 100%;
}

ul.siteheader li a {
color:#FFFFFF;
text-decoration: none;
padding: 20px;
display: inline-block;

}

.hoverable:hover{
  background-color: #412e57;
  border-bottom: solid 4px rgb(184, 75, 12)
}


.textHeader{
  background-color: #1d1c18;
  color: white
}


p.homeText{
font-size: 20px;
}

.chartContainer {
    max-width: 100%;
    width: 85vw;
    height: 500px; ;
    align-items: stretch;
    margin-left: 0%;
} 

td{
    text-align: center;
    font-size: 18px;
}


thead{
    text-align: center
}

.headerDiv{
  
  width: 100%;
  text-align: center;
  color:rgb(0, 0, 0);
  
}

.tableHeader{
   
    text-align: center;
    color: white;
    background-color: black
}



.tab{
    color: white;
    background-color: black
}

.nav-tabs .nav-link {
    background-color: black !important;
    color: #FFFFFF !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    //border-bottom: 2px solid #412e57 !important;
    border: 2px outset #3f3e41 !important;
  }
  
  .nav-tabs .nav-link.active {
    //border-bottom: solid 4px #055309 !important;
    background-color: #022e10 !important;
   
  }

  .nav-tabs .nav-link:hover {
    background-color: $color !important;
    border-bottom: solid 4px rgb(184, 75, 12) !important;
   
    
  }

  
  

  .nav-tabs li a{
    transition: all 0.5s ease 0s;
  }

  
  .nav-pills .nav-link{
    color: $color
  }
  .nav-pills .nav-link:hover{
    border-bottom: solid 4px rgb(184, 75, 12) !important;
   
  }

  
  .nav-pills .nav-link.active{
    background-color: $color;
  }
  .optionsTab{

    font-size: 30px;
    gap: 2px;
   
    border: 1px solid #412e57 !important; 

  }



  
.chartContainer{
  padding: 0;
}